.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container header h2{
  font-size: 32px;
  font-weight: bold;
}

.container header p{
  font-size: 24px;
}

.container header a{
  font-size: 20px;
  color:dodgerblue;

}